// color 변수
$body-color: #e9ebee;
$all-color: white;
$line-color: rgb(220, 220, 220);

// size 변수
$box-width: 500px;
$header-height: 42px;

// border-radius 변수
$radius: 6px;
$top-lr-radius: 6px 6px 0px 0px;
$bottom-lr-radius: 0px 0px 6px 6px;

// 선
$line: 1px solid $line-color;

// 중앙 정렬
@mixin M-FLEX-CENTER {
  display: flex;
  justify-content: center;
  align-items: center;
}

// background color
@mixin M-BACK-COLOR {
  background-color: $all-color;
}

@mixin M-W-H($width, $height) {
  width: $width;
  height: $height;
}
